.alldetail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
}
@media screen and (max-width:1024px){
    .alldetail{
        flex-direction: row;
        width: calc(100vw - 20px);
    }
    .socials{
        max-width: 50%;
    }
  }
@media screen and (max-width:768px){
    .alldetail{
        flex-direction: column;
        width: 100%;
    }
    .detailcover, .socials{
        max-width: calc(100vw - 20px)
    }
}
.detailcover{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 8px;
    min-width: 300px;
    height: fit-content;
    flex-grow: 1;
}

.detailtitle{
    grid-column: 1/3;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 15px;
    display: grid;
    grid: auto auto/ 60px 1fr;
    column-gap: 8px;
}
.detailimg{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    align-items: center;
}
.detailimg img{
    width: 60px;
    aspect-ratio: 1/1;
}
.detailprice{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: left;
    align-items: first baseline;
    gap: 10px;
}
.rate{
    font-size: 1rem;
}

.detailname{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: first baseline;
    gap: 8px;
    word-break: break-all;
}
.detailsymbol{
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(86, 85, 85);
    word-break: keep-all;
    padding-left: 8px;
}
.marketcap{
    font-size: 1rem;
    background-color: rgb(235, 232, 232);
    padding: 6px;
    margin-right: 4px;
    border-radius: 5px;
    word-break: keep-all;
}

.detailcover p{
    color: rgb(97, 97, 97);
}
.detailcover >div{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 4px 4px;
}
.sentimentsection{
    grid-column: 1/3;
}
.sentiment{
    grid-column: 1 / span 2;
    display: flex;
    gap: 2px;
    margin: 4px;
    justify-content: center;
    align-items: center;
}
.sentiment div{
    height: 5px;
}
.tooltip{
    cursor: pointer;
    font-size: smaller;
    font-weight: 400;
    color: rgb(158, 157, 157);
}
.socials{
    padding: 10px;
    display: grid;
    gap: 8px;
    min-width: 300px;
    flex-grow: 1;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 7.5px;
}
.socials div{
    display: flex;
}
.socials a{
    text-decoration: none;
    font-weight: 600;
    font-size: small;
    color: black;
}
.weblink div{
    background-color: rgba(242, 242, 242, 0.861);
    border-radius: 7.5px;
    padding: 2px 6px;
    height: fit-content;
}
.weblink div:hover{
    background-color: #e0e0e0;
}
.weblink{
    display: flex;
    justify-content: end;
    gap: 8px;
    width: 100%;
}
.weblink select{
    outline: none;
    border: none;
    width: 120px;
    font-weight: 600;
    font-size: 12px;
    background-color: rgba(242, 242, 242, 0.861);
    border-radius: 7.5px;
    padding: 0 0 1px 2px;
}
.weblink select:hover{
    background-color: #e6e6e6;
}
.alltime{
    display: flex;
    flex-direction: column;
}

.alltime div{
    display: flex;
    justify-content: space-between;
}
.alltimedate{
    display: flex;
    flex-direction: column;
}
.alltimedate p{
    color: rgb(100, 100, 100);
    font-size: smaller;
}
.alltimebar{
    height: 4px;
    background-color: rgba(121, 121, 121, 0.422);
    position: relative;
    margin: 6px 0;
    border-radius: 10px;
    width: 100%;
}
.alltimebar span{
    position: absolute;
    top: -8.5px;
    color: red;
    font-weight: bolder;
}
.cointags{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
@media screen and (max-width:1024px){
    .cointags{
        height: 144px;
    }
  }

.cointags >div{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 4px;
    width: 100%;
}
.tagdiv::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    opacity: 0; /* Make it invisible */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  /* Show scrollbar on hover */
  .tagdiv:hover::-webkit-scrollbar {
    opacity: 1; /* Make it visible */
  }
  
  /* Scrollbar track */
  .tagdiv::-webkit-scrollbar-track {
    background: #ebebeb;
  }
  
  /* Scrollbar thumb */
  .tagdiv::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 4px;
  }
  
.tag{
    border: 1px solid rgba(183, 183, 183, 0.336) ;
    display: grid;
    align-items: center;
    padding: 1px 6px 2px;
    border-radius: 7.5px;
    font-size: 15px;
    height: fit-content;
}
.tag:hover{
    background-color: #e4e3e3;
    cursor: pointer;
}