.footersection{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
    background:#13161f url("footersvg.svg") top no-repeat;

}
.footersection span{
    padding-left: 20px;
    font-size: 17px;
    color: white;
}
.footersection ul{
    list-style-type: none;
}
.footersection ul li {
    margin-bottom: 5px;
}
.footersection a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}
.footersection img{
    width: 250px;
    border-radius: unset;
    box-shadow: unset;
}
.footernav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.copywrite{
    padding: 20px;
    background-color: rgb(22, 22, 36);  
    color: white;
}


@media screen and (max-width:768px){
    .footersection{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .footernav{
        width: 100%;
        text-align: left;
        justify-content: space-evenly;
    }
    .copywrite{
        text-align: center;
    }
}
@media screen and (max-width:425px){
  .footernav{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
  }
}