   .symbol{
  text-transform: uppercase;
  font-size: x-small;
  color: gray;
 }
 .name{
  display: grid;
  grid: auto / auto auto;
  align-items: center;
  width: 100%;
  gap: 12px;
  text-wrap: wrap;
  text-align: left;
  line-height: 20px;
 }
 .nametitle{
  width: 120px;
 }
.imgsym{
  text-align: center;
  line-height: 12px;
  display: grid;
  gap: 6px;
}
.link{
  text-decoration: none;
  color: unset;
  display: flex;
  align-items: center;
  gap: 8px;
}