   .symbol{
  text-transform: uppercase;
  font-size: x-small;
  color: gray;
 }
 .name{
  display: grid;
  grid: auto / 40px 120px;
  align-items: center;
  width: 100%;
  gap: 12px;
  text-wrap: wrap;
  text-align: left;
  line-height: 20px;
 }
.imgsym{
  text-align: center;
  line-height: 12px;
}
.link{
  text-decoration: none;
  color: unset;
}