.tranding{
   width: 100%;
   flex-grow: 1;
   height: 162px;
   overflow: hidden;
   background-color: rgb(255, 255, 255);  
}

  .trandingtitle h4{
    color: gray;
}
.trandingtitle{
    margin: 2px 8px;
    gap: 7px;
    display: grid
;
}
.trandingtable tbody tr td{
    border: none;
    padding: 1px 8px;
}
@media screen and (max-width:990px){
    .tranding{
        width: 100%;
        height: 282px;
     }
     .trandingtable tbody tr td{
        padding: 3px 8px;
    }
}
@media screen and (max-width:670px){
    .tranding{
        width: calc(100vw - 20px);
        height: 282px;
     }
    
  }
.trandingimgname{
    display: flex;
    align-items: center;
    gap :8px;
}
.trandingimgname img{
    width: 25px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    aspect-ratio: 1/1;
}
.sparkline{
    overflow: hidden;
    max-width: 70px;

}
.chartWrapper {
    width: 100%;
    transform: translate(-140px,0)
  }
  .link{
    text-decoration: none;
    color: unset;
    display: flex;
    align-items: center;
    gap: 8px;
  }