.nameimg{
  max-width: 250px;
  text-wrap: wrap;
}
.nameimg a{
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    text-decoration: none;
}
.customprogress {
    /* Remove default appearance */
    appearance: none;
    border: none;
    background-color: #e0e0e0; /* Background color */
    border-radius: 10px; /* Rounded corners */
    height: 15px;
    width: 100px;
    overflow: hidden;
    position: relative;
  }
  
  /* WebKit browsers */
  
  
.country{
  text-wrap: wrap;
}
.trust{
  width: 162px;
  padding-left: 65px;
}
 
  
  