.analysisdiv{
    margin-top: 8px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50vw;
    min-width: 430px;
    max-height: calc(100vh - 150px);
    min-height: 250px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.66);
    line-height: 1.3;
    backdrop-filter: blur(20px);
}   
.closebtn{
  float: right;
  background-color: transparent;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  border: 0.5px solid white;
  border-radius: 5px;
}
.askquediv{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 15px 0  ;
}
.askquediv div:nth-child(1){
  margin-top: 10px;
  align-self: first baseline;
}
.askquediv button{
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: medium ;
  cursor: pointer;
  padding: 3px;
  width: fit-content;
  transition:  .5s ease;
}
.askquediv button:hover{
  background-color: rgb(236, 236, 236);
}
.analysisdiv> h2{
  background-color: rgb(98, 98, 228) ;
  color: white;
  padding: 20px;
  margin: -10px;
}
  .marketanalysis {
    height: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-top: -15px;
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section {
    margin: 8px 0;
  }
  
  .section h2 {
    color: #222222;
  }
  
  .section p, .section li {
    color: #252525;
  }
  em{
    color: rgb(79, 79, 79);
  }
  ul {
    padding-left: 20px;
  }
  
  .newsitem {
    background: #f1f1f1;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-left: 4px solid #0073e6;
  }
  .newshead{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }  
  .newsitem p {
    color: #000000;
  }
  .entryprices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
    .marketanalysis {
      padding: 10px;
    }
  }

  .analysisdiv::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0; /* Make it invisible */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
    .analysisdiv:hover::-webkit-scrollbar {
    opacity: 1; /* Make it visible */
  }
    .analysisdiv::-webkit-scrollbar-track {
    background: #ebebeb;
  }
    .analysisdiv::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 4px;
  }
  
  @media (max-width: 450px) {
  .newshead{
    flex-direction: column;
    gap: 0;
  }
  .analysisdiv{
    width:calc(100vw - 20px);
    min-width: unset;
    max-width: unset;
    max-height: 73%;
    min-height: 380px;
  }
  .entryprices{
    grid-template-columns: 1fr;
    gap: 4px;
  }
}
.askaibtn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 2px solid rgb(58, 41, 255);
  background-color: white;
  box-shadow: unset;
  border-radius: 5px;
  opacity: .95;
  padding: 5px;
  z-index: 1000;
}
.askaibtn:hover img{
  width: 40px;
}
.askaibtn img{
  all: unset;
  width: 30px;
  aspect-ratio: 1/1;
  transition: .2s ease;
}