/* Wrapper around the table for horizontal scrolling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  border: 1px solid black;
  margin: 15px;
}
.table-wrapper {
  max-width: 1000px;
  overflow-x: auto;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  position: relative; /* Add this */
}

/* Table header and cell styling */
th, td {
  padding: 10px;
  text-wrap: nowrap;
  text-align: right;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}
th{
  cursor: pointer;
}

/* Sticky column styling */
.sticky-column {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
  text-align: left;
}
img {
  width: 40px;
  border-radius: 50%;
}
.green{
  color: rgb(0, 253, 0);
  font-weight: 600;
 }
 .red{
  color: rgb(255, 59, 59);
  font-weight: 600;
 }
 .updown{
  font-size: small;
  padding: 0 4px;
 }
@media screen and (max-width:1000px){
  .sticky-column{
    box-shadow: 0 10px 10px rgb(113, 113, 113);
  }
}
.trandingSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}