/* Wrapper around the table for horizontal scrolling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.table-wrapper {
  max-width: fit-content;
  overflow-x: auto;
  margin: 0 auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative; /* Ensure this stays relative */
}

.table-wrapper thead th {
  padding: 12px 20px;
  z-index: 10; /* Ensure it stays above table rows */
  background-color: #f5f5f5; /* Optional: Add background to header */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  position: relative; /* Add this */
}

/* Table header and cell styling */
th, td {
  padding: 6px 20px;
  background: rgb(255, 255, 255);
  text-wrap: nowrap;
  text-align: right;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
th{
  cursor: pointer;
}

.table-row {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Sticky column styling */
.sticky-column {
  position: sticky;
  background: rgb(255, 255, 255);
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
img {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.299);
}
.green{
  color: rgb(0, 161, 0);
  font-weight: 100;
 }
 .red{
  color: rgb(255, 59, 59);
  font-weight: 100;
 }
 .updown{
  font-size: xx-small;
  padding: 0 4px;
 }
@media screen and (max-width:1000px){
  .sticky-column{
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
}


.head{
  margin: 0 auto;
  display: grid;
  gap: 20px;
  padding:0px 10px 0 ;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  background-color: rgb(251, 170, 49);  
}
.headmenu{
  display: flex;
  gap: 20px;
}
.headlogo{
  justify-self: center;
  align-self: center;
}
.headlogo img{
  width: 100%;
  max-width: 220px;
  border-radius: unset;
  box-shadow: unset;
}
.headmenu ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  justify-content: space-around;
}
.headmenu ul li{
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: .2s ease-in;
}
.head ul li:hover{
  background-color: rgb(255, 184, 90);
}
@media screen and (max-width:768px){
  .head{
    gap: 0;
    grid-template-columns: auto;
    justify-content: center;
  }
  .head ul li{
    padding: 6px 0;
  }
  .headlogo img{
    height: 50px;
  }
}

.searchsection{
  justify-self: right;
  max-width: 300px;
  align-self: center;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  color: rgb(63, 63, 63);
  height: 40px;
  border-radius: 7.5px;
  transition: .3s ease-in;
}
.searchsection:hover{
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(87, 87, 87);
}
.searchicon{
  margin: 0 2px 0 8px;
  font-size: xx-large;
  transform: rotateY(40deg);
  transform: translateY(-3px);
}
.searchsection input[type="text"]{
  background-color: transparent;
  color: rgb(71, 71, 71);
  border: unset;
  font-size: medium;
  width: 85%;
}
.searchsection input[type="text"]:focus {
  outline: none
}
@media screen and (max-width:990px){
  .searchsection{
    width: 280px;
    justify-self: right;
  }
}

.headintro{
  display: flex;
  justify-self: left;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  margin: 10px auto;
  max-width: 1265px;
  background-color: rgb(255, 255, 255);  
}
@media screen and (max-width:1280px){
  .headintro{
    flex-direction: column;
    margin: 10px;
  }
}
@media screen and (max-width:990px){
  .headintro{
    flex-direction: column;
    margin: 10px;
  }
  .head{
    grid-template-columns: auto;
    justify-content: center;
    gap: 0;
    padding-bottom: 6px;
  }
  .headmenu{
    width: calc(100vw - 20px);
    gap: unset;
    justify-content: space-between;
  }
  .headinfoad img{
    width:400px;
    height: 300px;
    object-fit: cover;
  }
}
@media screen and (max-width:535px){
  .headmenu{
    justify-content: center;
  }
  .headnavbar{
    display: none;
  }
  .searchsection{
    justify-self: center;
  }
}
.headinfo{
  font-size: 110%;
}
.headinfoad{
  position: relative;
}
.headinfoad img{
  border-radius: unset;
  width: calc(100vw - 20px);
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width:990px){
  .headinfoad img{
    border-radius: unset;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
.adtag{
  position: absolute;
  right: 10px;bottom: 10px;
  background-color: rgb(61, 61, 61);
  padding: 2px 4px;
  color: white;
  font-size: smaller;
}



.trandingSection{
  max-width: 1265px;
  width: calc(100vw - 20px);
  justify-self: center;
  display:grid;
  grid-template-columns: 1fr 2fr ;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 10px 10px;
}
@media screen and (max-width:990px){
  .trandingSection{
    width: calc(100vw - 20px);
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:670px){
  .trandingSection{
    grid-template-columns: auto;
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.detailchartdiv{
  display: grid;
  align-items: center;
  height: fit-content;
  min-width: 310px;
  overflow: auto;
  position: relative;
}
.detailchartdiv::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  opacity: 0; /* Make it invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Show scrollbar on hover */
.detailchartdiv:hover::-webkit-scrollbar {
  opacity: 1; /* Make it visible */
}

/* Scrollbar track */
.detailchartdiv::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Scrollbar thumb */
.detailchartdiv::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 4px;
}
.infosection{
  padding: 20px;
  margin-top: 8px;
}
.infosection h1{
  text-transform: capitalize;
  padding-bottom: 20px;
}
.infosection p{
  color: rgb(81, 81, 81);
  line-height: 20px;
}
.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limits to 4 lines */
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.description.collapsed {
  cursor: pointer;
}

.description.expanded {
  -webkit-line-clamp: unset; /* Removes the line limit when expanded */
}
.chartbtndiv{
  border-radius: 7.5px;
  height: fit-content;
  padding: 2px;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 20px;

}
.chartbtndivbutton{
  background-color: rgb(255, 255, 255);
  padding: 4px 6px 4px 4px;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid rgba(128, 128, 128, 0.265);
  box-shadow: 0 0 10px rgba(214, 214, 214, 0.322);
  color: rgb(85, 84, 84);
}
.selected{
  background-color: rgb(84, 84, 84);
  font-weight: 800;
}
.detailpage{
  margin: 10px;
  display: grid;
  grid-template-columns:  1fr 3fr;
  gap: 8px;
}
@media screen and (max-width:768px){
  .detailpagemain{
    max-width: calc(100vw - 20px);
  }
}
.trandingcoins{
  position: relative;
}
.trandingbtns{
  display: flex;
  gap: 4px;
  position: absolute;
  right: 15px;top: 15px;
}
.trandingbtns div{
  border: 1px solid rgb(188, 188, 188);
  width: 25px;height: 25px;
  text-align: center;
  cursor: pointer;
}
.sidedatacover{
  display: grid;
  grid-template-columns: auto auto ;
  gap: 12px;
}
@media screen and (max-width:670px){
  .sidedatacover{
      width: calc(100vw - 20px);
   }
   
}

.marketdata{
  display: grid;
  gap: 12px;
}
.marketdata> div{
  background-color: rgb(255, 255, 255);  
}
@media screen and (max-width:670px) and (min-width:455px){
  .marketdata{
    display: grid;
    grid-template-columns: auto auto;
  }
  }
.marketdata h3{
  color: gray;
  font-size: 100%;
}
.marketdata p{
  padding-bottom: 8px;
  font-size: 150%;
  font-weight: 600;
}
@media screen and (max-width:990px){
  .sidedatacover{
    grid: auto auto / auto ;
  }
  .marketdata{
    width: auto;
  }
  .marketdata p{
    padding-bottom:0px;

  }
 
  
}
.dominance{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dominancedatacover{
  display: grid;
  gap: 4px;
  background-color: rgb(255, 255, 255);  
}
.dominancedatacover>h3{
  color: gray;
  font-size: 100%;
}
.dominance .percentage{
  font-size: 150%;
  font-weight: bold;
}
@media screen and (max-width:1024px){
  .detailpage{
    grid-template-columns:  1fr;
    width: calc(100vw - 20px);;
  }
  .chartbtndiv{
    top: 5px;
    left: 5px;
  }
  
}


.head a{
  text-decoration: none;
  color: black;
}
.productmaindiv{
  background-color: white;
  padding: 20px ;
  margin: 10px auto;
  width: fit-content;
  border-radius: 7.5px;
}
.productheading{
  justify-self: center;
  padding: 20px 0 0 0;
  text-align: center;
  margin:  10px;
}

.exchangeheading{
  max-width: 1260px;
  justify-self: center;
  margin: 10px;
  padding: 40px 0;
  display: grid;
  gap: 14px;
  background-color: white;
}
.exchangeheading p{
  color: gray;
}
.marqueecontainer {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  margin: 8px 0;
  background-color: #ffffff;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.marqueecontent {
  display: flex;
  animation: marquee 120s linear infinite;
}
.marqueecontainer:hover .marqueecontent {
  animation-play-state: paused;
}

.coinitem {
  display: flex;
  align-items: center;
  padding: 8px 25px; /* Adjust spacing between items */
  white-space: nowrap;
  border-left: 1px solid rgb(230, 230, 230);
}

.coinimage {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.coinname {
  font-size: 14px;
  margin-right: 8px;
}

.coinchange {
  font-size: 14px;
}

.coinchange.positive {
  color: green;
}

.coinchange.negative {
  color: red;
}
.marqueelink{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Keyframe animation for smooth scrolling */
@keyframes marquee {
  1% {
    transform: translateX(0%);
  }
  49% {
    transform: translateX(-240%);
  }
  51% {
    transform: translateX(-240%);
  }
  99% {
    transform: translateX(0);
  }
}
