/* Wrapper around the table for horizontal scrolling */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.100);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.039);
  border-radius: 7.5px;
}
.table-wrapper {
  max-width: fit-content;
  overflow-x: auto;
  margin: 0 auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  position: relative; /* Add this */
}

/* Table header and cell styling */
th, td {
  padding: 6px 20px;
  background: rgb(255, 255, 255);
  text-wrap: nowrap;
  text-align: right;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
th{
  cursor: pointer;
}

.table-row {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Sticky column styling */
.sticky-column {
  position: sticky;
  background: rgb(255, 255, 255);
  left: 0;
  z-index: 1;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
img {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.299);
}
.green{
  color: rgb(0, 161, 0);
  font-weight: 100;
 }
 .red{
  color: rgb(255, 59, 59);
  font-weight: 100;
 }
 .updown{
  font-size: xx-small;
  padding: 0 4px;
 }
@media screen and (max-width:1000px){
  .sticky-column{
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
}


.head{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  
}
.headtext{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:  40px;
}
.searchsection{
  align-self: center;
  display: flex;
  align-items: center;
  background-color: #ececec;
  color: gray;
  height: 40px;
  border-radius: 7.5px;
}
.searchicon{
  margin: 0 8px;
  font-size: xx-large;
  transform: rotateY(40deg);
  transform: translateY(-3px);
}
.searchsection input[type="text"]{
  background-color: transparent;
  color: gray;
  border: unset;
  font-size: medium;
  width: 85%;
}
.searchsection input[type="text"]:focus {
  outline: none;
}
@media screen and (max-width:990px){
  .head{
    display: grid;
    grid-template-columns:  1fr;
  }  
  .headtext{
    margin: 8px 0px;
    padding: 0 20px;
    word-break: break-all;
  }
  .searchsection{
    width: 280px;
    justify-self: center;
  }
}

.trandingSection{
  max-width: 1220px;
  width: calc(100vw - 20px);
  margin: 10px;
  justify-self: center;
  display:grid;
  grid-template-columns: 1fr 2fr ;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 10px;
}
@media screen and (max-width:990px){
  .trandingSection{
    width: calc(100vw - 20px);
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:670px){
  .trandingSection{
    grid-template-columns: auto;
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.detailchartdiv{
  display: grid;
  align-items: center;
  height: fit-content;
  min-width: 310px;
  overflow: auto;
  position: relative;
}
.detailchartdiv::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  opacity: 0; /* Make it invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Show scrollbar on hover */
.detailchartdiv:hover::-webkit-scrollbar {
  opacity: 1; /* Make it visible */
}

/* Scrollbar track */
.detailchartdiv::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Scrollbar thumb */
.detailchartdiv::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 4px;
}
.infosection{
  padding: 20px;
  margin-top: 8px;
}
.infosection h1{
  text-transform: capitalize;
  padding-bottom: 20px;
}
.infosection p{
  color: rgb(81, 81, 81);
  line-height: 20px;
}
.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limits to 4 lines */
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.description.collapsed {
  cursor: pointer;
}

.description.expanded {
  -webkit-line-clamp: unset; /* Removes the line limit when expanded */
}
.chartbtndiv{
  border-radius: 7.5px;
  height: fit-content;
  padding: 2px;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 20px;

}
.chartbtndivbutton{
  background-color: rgb(255, 255, 255);
  padding: 4px 6px 4px 4px;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid rgba(128, 128, 128, 0.265);
  box-shadow: 0 0 10px rgba(214, 214, 214, 0.322);
  color: rgb(85, 84, 84);
}
.selected{
  background-color: rgb(84, 84, 84);
  font-weight: 800;
}
.detailpage{
  margin: 10px;
  display: grid;
  grid-template-columns:  1fr 3fr;
  gap: 8px;
}
@media screen and (max-width:768px){
  .detailpagemain{
    max-width: calc(100vw - 20px);
  }
}
.trandingcoins{
  position: relative;
}
.trandingbtns{
  display: flex;
  gap: 4px;
  position: absolute;
  right: 15px;top: 15px;
}
.trandingbtns div{
  border: 1px solid rgb(188, 188, 188);
  width: 25px;height: 25px;
  text-align: center;
  cursor: pointer;
}
.sidedatacover{
  display: grid;
  grid-template-columns: auto auto ;
  gap: 12px;
}
@media screen and (max-width:670px){
  .sidedatacover{
      width: calc(100vw - 20px);
   }
   
}
.adimg{
  position: relative;
  width: 100%;
}
.adtag{
  position: absolute;
  right: 10px;bottom: 10px;
  background-color: rgb(61, 61, 61);
  padding: 4px 8px;
  color: white;
}
.adimg img{
  width: auto;
  object-fit: cover;
  border-radius: unset;
}
@media screen and (max-width:1260px){
  .adimg{
    display: none;
  }

  }
.marketdata{
  display: grid;
  gap: 12px;
}
@media screen and (max-width:670px) and (min-width:455px){
  .marketdata{
    display: grid;
    grid-template-columns: auto auto;
  }
  }
.marketdata h3{
  color: gray;
  font-size: 100%;
}
.marketdata p{
  padding-bottom: 8px;
  font-size: 150%;
  font-weight: 600;
}
@media screen and (max-width:990px){
  .sidedatacover{
    grid: auto auto / auto ;
  }
  .marketdata{
    width: auto;
  }
  .marketdata p{
    padding-bottom:0px;

  }
 
  
}
.dominance{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dominancedatacover{
  display: grid;
  gap: 4px;
}
.dominancedatacover>h3{
  color: gray;
  font-size: 100%;
}
.dominance .percentage{
  font-size: 150%;
  font-weight: bold;
}
@media screen and (max-width:1024px){
  .detailpage{
    grid-template-columns:  1fr;
    width: calc(100vw - 20px);;
  }
  .chartbtndiv{
    top: 5px;
    left: 5px;
  }
  
}

